<!-- 旧 FAB
<div id="back-to-top" class="toTop-wrap">
    <a href="#top" class="toTop">
        <i class="material-icons footer_top-i">expand_less</i>
    </a>
</div> -->

<!-- Materialw FAB -->
<div class="mdui-fab-wrapper" id="back-to-top" mdui-fab>
  <button class="mdui-fab mdui-ripple mdui-color-theme-accent">
  <a href="#top" class="toTop">

    <i class="mdui-icon material-icons">add</i>
    
    <i class="mdui-icon mdui-fab-opened material-icons">expand_less</i>
  </a>
  </button>
  <div class="mdui-fab-dial">
    <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink"><i class="mdui-text-color-white-icon mdui-icon material-icons">get_app</i></button>
    <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red"><i class="mdui-text-color-white-icon mdui-icon material-icons">music_note</i></button>
    <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange" onclick="window.open('https://steamcommunity.com/tradeoffer/new/?partner=258780405&token=RmWRViiB')"><i class="mdui-text-color-white-icon mdui-icon material-icons">redeem</i></a></button>
    <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue"><i class="mdui-text-color-white-icon mdui-icon material-icons">star</i></button>
  </div>
</div>