<!-- 使用 Gitalk -->
<div id="gitalk-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
    #gitalk-comment {
        background-color: #f5f5f5;
        padding: 2pc;
    }
</style>